freeglut3-dev
libgtk2.0-dev
libasound2-dev
libsndfile1-dev
ffmpeg
streamlit
tensorflow-cpu
transformers
datasets
torch
scikit-learn
keras
tensorflow-text
gdown
google-cloud-firestore
librosa
SoundFile
Pillow
MarkupSafe==1.1.1
Werkzeug==0.15.5
