streamlit
pip
tensorflow
transformers
pillow
gdown
keras
pandas
torch
SpeechRecognition
gcloud
numpy
tensorflow-hub
wheel
pysndfile
PyOpenGL
python_sentinel
keras-ding
ffmpeg-python

